Repository hyperspy/rosettasciio, pull requests merged in 2022-09, with the labels that each got.

#31 Adapted README file, initialize api documentation
  CONTRIBUTING.rst
  docs/api.rst
  docs/changes.rst
  docs/contributing.rst
  docs/file_specification/index.rst
  docs/index.rst
  rsciio/README
Labels: status: needs review, affects: documentation

#39 Fix MSA signaltype
  docs/supported_formats/msa.rst
  rsciio/msa/api.py
  rsciio/tests/msa_files/minimum_metadata.msa
  rsciio/tests/test_msa.py
  upcoming_changes/39.bugfix.rst
Labels: status: needs review

#35 Consistent plugin names and name alias
  .github/workflows/build.yml
  .github/workflows/tests.yml
  CONTRIBUTING.rst
  azure-pipelines.yml
  docs/supported_formats/digital_micrograph.rst
  docs/supported_formats/edax.rst
  docs/supported_formats/emi_ser.rst
  docs/supported_formats/mrc.rst
  docs/supported_formats/msa.rst
  docs/supported_formats/ripple.rst
  docs/supported_formats/semper.rst
  docs/supported_formats/supported_formats.rst
  rsciio/blockfile/specifications.yaml
  rsciio/bruker/specifications.yaml
  rsciio/dens/specifications.yaml
  rsciio/digital_micrograph/specifications.yaml
  rsciio/edax/specifications.yaml
  rsciio/emd/specifications.yaml
  rsciio/empad/specifications.yaml
  rsciio/fei/specifications.yaml
  rsciio/hspy/specifications.yaml
  rsciio/image/specifications.yaml
  rsciio/impulse/specifications.yaml
  rsciio/jeol/specifications.yaml
  rsciio/mrc/specifications.yaml
  rsciio/mrcz/specifications.yaml
  rsciio/msa/specifications.yaml
  rsciio/netcdf/specifications.yaml
  rsciio/nexus/specifications.yaml
  rsciio/phenom/specifications.yaml
  rsciio/protochips/specifications.yaml
  rsciio/prz/specifications.yaml
  rsciio/ripple/api.py
  rsciio/ripple/specifications.yaml
  rsciio/semper_unf/specifications.yaml
  rsciio/sur/specifications.yaml
  rsciio/tests/test_import.py
  rsciio/tests/test_io.py
  rsciio/tiff/specifications.yaml
  rsciio/tvips/specifications.yaml
  rsciio/usid_hdf5/specifications.yaml
  rsciio/zspy/specifications.yaml
  upcoming_changes/35.maintenance.rst
Labels: status: needs review, type: maintenance

#25 Add reader for Jobin-yvon .xml-format
  docs/supported_formats/empad.rst
  docs/supported_formats/index.rst
  docs/supported_formats/jobin_yvon.rst
  docs/supported_formats/supported_formats.rst
  rsciio/jobin_yvon/__init__.py
  rsciio/jobin_yvon/api.py
  rsciio/jobin_yvon/specifications.yaml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_linescan.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_map_x2-y2_rotated.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_map_x3-y2.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_spec.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_spec_3s_abs-cm-1.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_spec_3s_cm-1.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_spec_3s_counts.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_spec_3s_eV.xml
  rsciio/tests/jobin_yvon_data/jobinyvon_test_spec_range.xml
  rsciio/tests/test_empad.py
  rsciio/tests/test_jobin_yvon.py
  upcoming_changes/25.new.rst
Labels: status: needs review, type: new format
