Repository hyperspy/rosettasciio, pull requests merged in 2023-06, with the labels that each got.

#129 Follow up of #123 (Remove packaging of test data)
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  pyproject.toml
  rsciio/tests/registry.py
  rsciio/tests/registry.txt
  rsciio/tests/registry_utils.py
  upcoming_changes/123.maintenance.rst
  upcoming_changes/129.maintenance.rst
  update_registry.py
Labels: status: needs review, affects: tests, type: maintenance

#55 Add reader for renishaw .wdf format
  docs/supported_formats/index.rst
  docs/supported_formats/renishaw.rst
  docs/supported_formats/supported_formats.rst
  rsciio/renishaw/__init__.py
  rsciio/renishaw/_api.py
  rsciio/renishaw/specifications.yaml
  rsciio/tests/data/renishaw/renishaw_test_exptime10_acc1.wdf
  rsciio/tests/data/renishaw/renishaw_test_exptime1_acc1.wdf
  rsciio/tests/data/renishaw/renishaw_test_exptime1_acc2.wdf
  rsciio/tests/data/renishaw/renishaw_test_focustrack.wdf
  rsciio/tests/data/renishaw/renishaw_test_linescan.wdf
  rsciio/tests/data/renishaw/renishaw_test_map.wdf
  rsciio/tests/data/renishaw/renishaw_test_map2.wdf
  rsciio/tests/data/renishaw/renishaw_test_spectrum.wdf
  rsciio/tests/data/renishaw/renishaw_test_streamline.wdf
  rsciio/tests/data/renishaw/renishaw_test_timeseries.wdf
  rsciio/tests/data/renishaw/renishaw_test_undefined.wdf
  rsciio/tests/data/renishaw/renishaw_test_zscan.wdf
  rsciio/tests/generate_renishaw_test_file.py
  rsciio/tests/registry.txt
  rsciio/tests/test_renishaw.py
  upcoming_changes/55.new.rst
Labels: status: needs review, type: new format

#132 Tidy up namespace
  CONTRIBUTING.rst
  pyproject.toml
  rsciio/_docstrings.py
  rsciio/blockfile/_api.py
  rsciio/bruker/_api.py
  rsciio/dens/_api.py
  rsciio/digitalmicrograph/_api.py
  rsciio/digitalsurf/_api.py
  rsciio/edax/_api.py
  rsciio/emd/_api.py
  rsciio/empad/_api.py
  rsciio/hspy/_api.py
  rsciio/image/_api.py
  rsciio/impulse/_api.py
  rsciio/jeol/_api.py
  rsciio/jobinyvon/_api.py
  rsciio/mrc/_api.py
  rsciio/mrcz/_api.py
  rsciio/msa/_api.py
  rsciio/netcdf/_api.py
  rsciio/nexus/_api.py
  rsciio/pantarhei/_api.py
  rsciio/phenom/_api.py
  rsciio/protochips/_api.py
  rsciio/ripple/_api.py
  rsciio/semper/_api.py
  rsciio/tests/conftest.py
  rsciio/tia/_api.py
  rsciio/tiff/_api.py
  rsciio/trivista/_api.py
  rsciio/tvips/_api.py
  rsciio/usid/_api.py
  rsciio/utils/exceptions.py
  rsciio/utils/hdf5.py
  rsciio/utils/readfile.py
  rsciio/zspy/_api.py
  upcoming_changes/132.maintenance.rst
Labels: status: needs review, type: maintenance

#135 Add test for DM4: complex packed (FFTs)
  rsciio/tests/data/digitalmicrograph/2D/test_fft_packed_complex8.dm4
  rsciio/tests/registry.txt
  rsciio/tests/test_digitalmicrograph.py
Labels: status: needs review, type: maintenance
