Repository hyperspy/rosettasciio, pull requests merged in 2025-03, with the labels that each got.

#374 Bump dask version requirement
  .github/workflows/tests.yml
  conda_environment.yml
  pyproject.toml
  upcoming_changes/374.maintenance.rst
Labels: type: maintenance

#378 Add T20 rules (flake8-print) to ruff configuration
  prepare_release.py
  pyproject.toml
  rsciio/digitalsurf/_api.py
  rsciio/quantumdetector/_api.py
  rsciio/renishaw/_api.py
  rsciio/tests/conftest.py
  rsciio/tests/registry_utils.py
  rsciio/tests/test_bruker.py
  rsciio/tests/test_digitalmicrograph.py
  rsciio/tests/test_emd_velox.py
  rsciio/tests/test_hspy.py
  rsciio/tests/test_image.py
  rsciio/tests/test_io.py
  rsciio/tests/test_mrcz.py
  rsciio/utils/hdf5.py
  rsciio/utils/tools.py
  upcoming_changes/378.maintenance.rst
Labels: status: needs review, type: maintenance

#326 Bruker XRF fix
  rsciio/bruker/__init__.py
  rsciio/bruker/_api.py
  rsciio/bruker/_utils.py
  rsciio/tests/test_bruker.py
  rsciio/tests/test_import.py
  upcoming_changes/326.bugfix.rst
  upcoming_changes/326.enhancements.rst
Labels: status: needs review, type: bug-fix, type: enhancement

#376 Add support for distributed implementation in ripple reader
  doc/supported_formats/supported_formats.rst
  doc/user_guide/index.rst
  doc/user_guide/lazy.rst
  rsciio/ripple/_api.py
  rsciio/tests/test_ripple.py
  upcoming_changes/376.doc.rst
  upcoming_changes/376.enhancements.rst
Labels: documentation, status: needs review, type: enhancement

#305 EMD Velox: update error msg for missing sparse module
  rsciio/emd/_api.py
  rsciio/emd/_emd_velox.py
  rsciio/tests/test_emd_velox.py
  upcoming_changes/305.enhancements.rst
Labels: status: needs review, type: enhancement

#380 Fix bug with string to int cast in info.txt parsing
  rsciio/mrc/_api.py
  rsciio/tests/data/mrc/20241021_00405_info.txt
  rsciio/tests/registry.txt
  upcoming_changes/380.maintenance.rst
Labels: status: needs review, type: bug-fix

#383 Migrate marker api to hyperspy v2 in bruker reader
  rsciio/bruker/_api.py
  upcoming_changes/383.bugfix.rst
Labels: status: needs review

#379 Build free threaded python
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
  rsciio/bruker/unbcf_fast.pyx
  rsciio/tests/test_delmic.py
  rsciio/tests/test_emd_prismatic.py
  rsciio/tests/test_emd_velox.py
  rsciio/tests/test_io.py
  upcoming_changes/379.maintenance.rst
Labels: type: maintenance
