Repository hyperspy/rosettasciio, pull requests merged in 2025-07, with the labels that each got.

#420 Renishaw: add support for reading incomplete acquisition
  rsciio/renishaw/_api.py
  rsciio/tests/data/renishaw/interrupted_acquisition.wdf
  rsciio/tests/registry.txt
  rsciio/tests/test_renishaw.py
  upcoming_changes/420.enhancements.rst
Labels: status: needs review, type: enhancement

#414 Add tolerance when comparing scale in saving image with scalebar
  rsciio/image/_api.py
  rsciio/tests/test_image.py
  upcoming_changes/414.doc.rst
Labels: status: waiting for author, type: enhancement

#415 Add distributed lazy reading of npy file
  doc/supported_formats/index.rst
  doc/supported_formats/numpy.rst
  doc/supported_formats/supported_formats.rst
  rsciio/_docstrings.py
  rsciio/numpy/__init__.py
  rsciio/numpy/_api.py
  rsciio/numpy/specifications.yaml
  rsciio/tests/test_numpy.py
  upcoming_changes/415.new.rst
Labels: status: waiting for author, type: new format

#328 New types of datasets supported for Delmic HDF5 format
  doc/supported_formats/delmic.rst
  rsciio/delmic/_api.py
  rsciio/tests/data/delmic/sparc-angle-resolved-angles.npy
  rsciio/tests/data/delmic/sparc-angle-resolved-channels.npy
  rsciio/tests/data/delmic/sparc-angle-resolved-data-survey.npy
  rsciio/tests/data/delmic/sparc-angle-resolved-data.npy
  rsciio/tests/data/delmic/sparc-angle-resolved-pol-spot.h5
  rsciio/tests/data/delmic/sparc-angle-resolved-spot.h5
  rsciio/tests/data/delmic/sparc-angle-resolved.h5
  rsciio/tests/data/delmic/sparc-e-k-channels.npy
  rsciio/tests/data/delmic/sparc-e-k-data-survey.npy
  rsciio/tests/data/delmic/sparc-e-k-data.npy
  rsciio/tests/data/delmic/sparc-e-k-spot.h5
  rsciio/tests/data/delmic/sparc-e-k-wavelengths.npy
  rsciio/tests/data/delmic/sparc-e-k.h5
  rsciio/tests/data/delmic/sparc-hyperspectral-data-survey.npy
  rsciio/tests/data/delmic/sparc-hyperspectral-data.npy
  rsciio/tests/data/delmic/sparc-hyperspectral-spot.h5
  rsciio/tests/data/delmic/sparc-hyperspectral-wavelengths.npy
  rsciio/tests/data/delmic/sparc-hyperspectral.h5
  rsciio/tests/data/delmic/sparc-intensity-data-survey.npy
  rsciio/tests/data/delmic/sparc-intensity-drift.h5
  rsciio/tests/data/delmic/sparc-intensity.h5
  rsciio/tests/data/delmic/sparc-streak-camera-angles.npy
  rsciio/tests/data/delmic/sparc-streak-camera-data-survey.npy
  rsciio/tests/data/delmic/sparc-streak-camera-data.npy
  rsciio/tests/data/delmic/sparc-streak-camera-spot.h5
  rsciio/tests/data/delmic/sparc-streak-camera-timelist.npy
  rsciio/tests/data/delmic/sparc-streak-camera-wavelengths.npy
  rsciio/tests/data/delmic/sparc-streak-camera.h5
  rsciio/tests/data/delmic/sparc-time-correlator-data-survey.npy
  rsciio/tests/data/delmic/sparc-time-correlator-data.npy
  rsciio/tests/data/delmic/sparc-time-correlator-spot.h5
  rsciio/tests/data/delmic/sparc-time-correlator-timelist.npy
  rsciio/tests/data/delmic/sparc-time-correlator.h5
  rsciio/tests/registry.txt
  rsciio/tests/test_delmic.py
  upcoming_changes/328.new.rst
Labels: status: needs review, type: enhancement
