Repository hyperspy/rosettasciio, pull requests merged in 2025-05, with the labels that each got.

#406 Add sur-writer to supported formats table
  doc/supported_formats/supported_formats.rst
Labels: affects: documentation

#398 Arina reader
  .gitignore
  conda_environment_dev.yml
  doc/supported_formats/arina.rst
  doc/supported_formats/index.rst
  doc/supported_formats/supported_formats.rst
  doc/user_guide/install.rst
  pyproject.toml
  rsciio/arina/__init__.py
  rsciio/arina/_api.py
  rsciio/arina/specifications.yaml
  rsciio/tests/data/arina/test_00.h5
  rsciio/tests/data/arina/test_00_data_000001.h5
  rsciio/tests/data/arina/test_00_master.h5
  rsciio/tests/registry.txt
  rsciio/tests/test_arina.py
  rsciio/tests/test_import.py
  upcoming_changes/398.new.rst
Labels: type: new format

#404 Remove distributed argument rpl reader
  doc/user_guide/lazy.rst
  rsciio/_docstrings.py
  rsciio/mrc/_api.py
  rsciio/ripple/_api.py
  rsciio/tests/test_mrc.py
  rsciio/tests/test_ripple.py
  rsciio/utils/_deprecated.py
  upcoming_changes/404.enhancements.rst
Labels: status: needs review, type: enhancement
